{% load i18n %}
{% load crispy_forms_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}

    {% endblock title %}</title>

    <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
    <meta name="robots" content="noindex">
    {% include 'account/head_styles.html' %}

    {% block head_extra %}

    {% endblock head_extra %}

</head>

<body class="{% block body_styles %}  {% endblock body_styles %}">

<div class="d-flex align-items-center" style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px;">
        <div class="text-center mt-5 mb-1">
            <div class="avatar avatar-lg">
                <img src="{% static 'dashboard/dashboard_base/assets/images/logo/primary.svg' %}"
                     class="avatar-img rounded-circle" alt="LearnPlus"/>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-5 navbar-light">
            <a href="#" class="navbar-brand m-0">AssasninFx</a>
        </div>
        <div class="card">
            <div class="card-content" style="padding:20px">
                {% block content %}
                {% endblock content %}
            </div>

        </div>
    </div>
</div>

{% include 'account/script.html' %}

{% block scripts %}

{% endblock scripts %}
</body>

</html>
















