{% extends 'account/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block body_styles %}login {% endblock body_styles %}

{% block content %}
    <div class="card navbar-shadow">
        <div class="card-header text-center">
            <h4 class="card-title">Login</h4>
            <p class="card-subtitle">Access your account</p>
        </div>
        <div class="card-body">

            <form action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                <div class="text-center">
                    <a href="{% url 'account_reset_password' %}" class="text-black-70"
                       style="text-decoration: underline;">Forgot Password?</a>
                </div>
            </form>
        </div>
        <div class="card-footer text-center text-black-50">
            Not yet a student? <a href="{% url 'account_signup' %}">Sign Up</a>
        </div>
    </div>

{% endblock content %}













