{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="card bg-light">
        <div class="header header-primary text-center">
            <h4 class="card-title">Log in</h4>

            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
                <p class="mx-auto col-6">{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                <div class="socialaccount_ballot mx-auto col-6">

                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>

                    <div class="login-or">{% trans 'or' %}</div>

                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
                <p class="mx-auto col-12 text-dark">{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}" style="color: rgba(250,17,12,0.76) !important;">sign up</a>
                    first.{% endblocktrans %}</p>
            {% endif %}

        </div>
        <div class="card-content">
            <form class="login col-6 offset-3 form-group" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-11" style="">
                        {{ form|crispy }}
                    </div>
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"/>
                {% endif %}
                <a class="button secondaryAction"
                   href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>






{% endblock %}
