{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="header header-primary text-center mt-0">
            <h4 class="card-title">{% trans "Sign Out" %}</h4>


            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
        <div class="card-content  text-center">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="btn btn-danger btn-round ">{% trans 'Sign Out' %}</button>
            </form>
            <div class="p-5" style="padding:20px">
                <a href="{% url 'courses:list' %}" class="btn btn-outline-primary"><i class="fa fa-backward "></i></a>
                <a href="{% url 'home:home' %}" class="btn btn-outline-primary  ml-5"><i
                        class="fa fa-home "></i></a>
            </div>
        </div>
    </div>
{% endblock %}














