{% extends "account/base.html" %}
{% load hosts %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="header header-primary text-center mt-0">
            <h4 class="card-title">{% trans "Sign Out" %}</h4>


            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
        <div class="card-content">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="btn btn-danger btn-round ">{% trans 'Sign Out' %}</button>
            </form>
            <a href="{% url 'portfolio:portfolio'  request.user.username %}" class="btn btn-outline-primary">View
                portfolio</a>
            <a href="{% url 'portfolio:home' %}" class="btn btn-outline-primary">Home page</a>
        </div>
    </div>
{% endblock %}
