{% load static %}


<!-- jQuery -->
<script src="{% static 'dashboard/dashboard_base/assets/vendor/jquery.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'dashboard/dashboard_base/assets/vendor/popper.min.js' %}"></script>
<script src="{% static 'dashboard/dashboard_base/assets/vendor/bootstrap.min.js' %}"></script>

<!-- Perfect Scrollbar -->
<script src="{% static 'dashboard/dashboard_base/assets/vendor/perfect-scrollbar.min.js' %}"></script>

<!-- MDK -->
<script src="{% static 'dashboard/dashboard_base/assets/vendor/dom-factory.js' %}"></script>
<script src="{% static 'dashboard/dashboard_base/assets/vendor/material-design-kit.js' %}"></script>

<!-- App JS -->
<script src="{% static 'dashboard/dashboard_base/assets/js/app.js' %}"></script>

<!-- Highlight.js -->
<script src="{% static 'dashboard/dashboard_base/assets/js/hljs.js' %}"></script>

