<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Copy trade expired (AssasinFx)</title>
</head>
<body>

<h3>Hi {% if copy_trade.user.first_name %} {{ copy_trade.user.first_name }}  -
    {{ copy_trade.user.last_name }} {% else %}{{ copy_trade.user.username }}{% endif %},
</h3>
<p>
    Thank you for using our product for the past [{{ copy_trade.created_date }}]. Your contract expired on
    [{{ copy_trade.expiring_date }}] and you no longer have access to your account.

    If you’d like to renew or upgrade your contract, please let me know. We can complete the renewal process in [two
    business days], restore your access and get you up and running again.

    Feel free to send me a message by clicking <a
        href="mailto:admin@AssassinFx.com" target="_blank">here</a>
</p>
<br>
Thanks,