<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ signal.signal_type.signal_choice }} Signal register successfully (AssasinFx)</title>
</head>
<body>

<h3>Hi {% if copy_trade.user.first_name %} {{ copy_trade.user.first_name }}  -
    {{ copy_trade.user.last_name }} {% else %}{{ copy_trade.user.username }}{% endif %},
</h3>
<p>
    Thank you for your purchase with us. Your order should have arrived by now and we hope everything went well. Feel
    free
    to inform us about any delays or problems you might have faced – we want to make sure you’ve had a good experience.
    [You can reply to this email or contact support@yourcompany.com.]
</p>