<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<h3>Hi {% if user_membership.user.first_name %} {{ user_membership.user.first_name }}  -
    {{ user_membership.user.last_name }} {% else %}{{ user_membership.user.username }}{% endif %},
</h3>
<p>
    It’s great to have you here. Welcome on board. I’ll be guiding you through the content whilst your learn via my
    videos, explanations and tips. It’s time for you to be profitable.

    I’ve attached a [<a href="https://assassinfx.com/memberships/">link</a>] mapping out the steps of your on boarding.
</p>
</body>
</html>