{% extends 'DashBoard/dashboard_base.html' %}
{% load static %}

{% block title %}
    Student Dashboard
{% endblock title %}

{% block student_dash %}
    active
{% endblock %}
{% block content %}

    <div class="container-fluid page__container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'users:student_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
        <h1 class="h2">Dashboard</h1>

        <div class="card border-left-3 border-left-primary card-2by1">
            <div class="card-body">
                <div class="media flex-wrap align-items-center">
                    <div class="media-left">
                        <i class="fa fa-credit-card  text-muted-light"></i>
                    </div>
                    <div class="media-body" style="min-width: 180px">
                        {% if user_subscription != None %}
                            <h4>Current Membership:
                                {{ user_membership.membership.membership_type }}
                                <small>since {{ user_subscription.get_created_date }}</small>
                            </h4>

                            {% if user_subscription.active != False %}
                                Your subscription ends on <strong>{{ user_subscription.get_next_billing_date }}</strong>
                                <span><a href="{% url 'memberships:cancel' %}">Cancel subscription </a></span>
                            {% else %}
                                <p>You dont have an active membership plan
                                    <a href="{% url 'memberships:membership_select' %}"></a>
                                </p>
                            {% endif %}
                        {% endif %}

                    </div>

                    <div class="media-right mt-2 mt-xs-plus-0">
                        {% if user_membership.membership.membership_type != 'Enterprice' %}
                            <a class="btn btn-success" href="{% url 'memberships:membership_select' %}">Upgrade</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">


                <div class="card">
                    <div class="card-header">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <h4 class="card-title">Courses</h4>
                                <p class="card-subtitle">Your recent courses</p>
                            </div>
                            <div class="media-right">
                                <a class="btn btn-sm btn-primary" href="student-my-courses.html">My
                                    courses</a>
                            </div>
                        </div>
                    </div>


                    <ul class="list-group list-group-fit mb-0" style="z-index: initial;">
                        {% for recent_course in  request.user.profile.applied_courses.all %}
                            <li class="list-group-item" style="z-index: initial;">
                                <div class="d-flex align-items-center">
                                    <a href="{{ recent_course.get_absolute_url }}"
                                       class="avatar avatar-4by3 avatar-sm mr-3">
                                        <img src="{{ recent_course.imageURL }}"
                                             alt="course"
                                             class="avatar-img rounded">
                                    </a>
                                    <div class="flex">
                                        <a href="{{ recent_course.get_absolute_url }}" class="text-body"><strong>
                                            {{ recent_course.title }}
                                        </strong></a>
                                        <div class="d-flex align-items-center">
                                            <small class="text-muted ml-2">{{ recent_course.percent }}</small>
                                        </div>
                                    </div>
                                    <div class="dropdown ml-3">

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item"
                                               href="{{ recent_course.get_absolute_url }}"> <i
                                                    class="fa fa-street-view"></i>Continue</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>


            </div>
            <div class="col-lg-5">

                <div class="card">
                    <div class="card-header">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <h4 class="card-title">Forum Activity</h4>
                                <p class="card-subtitle">Latest forum topics &amp; replies</p>
                            </div>
                            <div class="media-right">
                                <a class="btn btn-sm btn-primary" href="{% url 'forum:forum_list' %}"> <i
                                        class="fa fa-arrow-square-right fa-2x"></i></a>
                            </div>
                        </div>
                    </div>


                    <li class="list-group list-group-fit">


                        {% for message in forum_requestion %}


                            <li class="list-group-item forum-thread">
                                <div class="card-title">
                                    <a href=""> {{ message.title|capfirst }}</a>
                                </div>
                                {% for item in message.forum_answers %}
                                    <div class="media align-items-center">
                                        <div class="media-left">
                                            <div class="forum-icon-wrapper">
                                                <a href="#"
                                                   class="forum-thread-icon">
                                                    <i class="fa fa-info-circle">description</i>
                                                </a>
                                                <a href="{% url 'users:profile' item.user.username %}"
                                                   class="forum-thread-user">
                                                    <img src="{{ message.user.profile.profilePicImageURL }}"
                                                         alt="profile" width="20"
                                                         class="rounded-circle">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="d-flex align-items-center">
                                                <a href="{% url 'users:profile'  message.user.username %}"
                                                   class="text-body"><strong>{{ message.user.username }}</strong></a>
                                                <small class="ml-auto text-muted">{{ message.timestamp|timesince }}</small>
                                            </div>
                                            <a class="text-black-70"
                                               href="#">{{ message.content }}?</a>
                                        </div>
                                    </div>
                                {% endfor %}

                            </li>
                        {% endfor %}


                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}



{% block script %}

    <!-- App Settings (safe to remove) -->
    <script src="{% static 'dashboard/dashboard_base/assets/js/app-settings.js' %}"></script>


    <!-- Global Settings -->
    <script src="{% static 'dashboard/dashboard_base/assets/js/settings.js' %}"></script>

    <!-- Moment.js -->
    <script src="{% static 'dashboard/dashboard_base/assets/vendor/moment.min.js' %}"></script>
    <script src="{% static 'dashboard/dashboard_base/assets/vendor/moment-range.min.js' %}"></script>


    <!-- Chart.js -->
    <script src="{% static 'dashboard/dashboard_base/assets/vendor/Chart.min.js' %}"></script>

    <!-- UI Charts Page JS -->
    <script src="{% static 'dashboard/dashboard_base/assets/js/chartjs-rounded-bar.js' %}"></script>
    <script src="{% static 'dashboard/dashboard_base/assets/js/chartjs.js' %}"></script>

    <!-- Chart.js Samples -->
    <script src="{% static 'dashboard/dashboard_base/assets/js/page.student-dashboard.js' %}"></script>

{% endblock script %}