{% extends 'DashBoard/dashboard_base.html' %}
{% load static %}

{% block title %}
    Course Detail
{% endblock title %}


{% block content %}
    <div class="container-fluid page__container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'courses:list' %}">Courses</a></li>
            <li class="breadcrumb-item active">{{ course.title }}</li>
        </ol>
        <h1 class="h2 text-capitalize">{{ course.title }}</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                        {% if lesson %}
                            <video controls loop
                                                                       controlsList="nodownload"
                                   src="{{ lesson.videoURL }}"
                                   poster="{{ lesson.thumbnailURL }}"
                                   width="500" height="500">
                                Sorry your browser does not support embedded videos
                            </video>
                        {% else %}
                            <video controls
                                   poster="{{ course.imageURL }}"
                                   width="500" height="500">
                                Sorry your browser does not support embedded videos
                            </video>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {{ course.description }}
                    </div>
                </div>

                <!-- Lessons -->
                <ul class="card list-group list-group-fit">
                    {% for item in course.lessons %}
                        <li class="list-group-item {% if item == lesson %} active {% endif %} ">
                            <div class="media">
                                <div class="media-left">
                                    <div class="text-muted">{{ forloop.counter }}.</div>
                                </div>
                                <div class="media-body">
                                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                </div>
                                <div class="media-right">
                                    <small class="text-muted-light">{{ item.duration }}</small>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <p>
                            <a href="student-cart.html" class="btn btn-success btn-block flex-column">
                                Get All Courses
                                <strong>&dollar;9 / month</strong>
                            </a>
                        </p>
                        <div class="page-separator">
                            <div class="page-separator__text">or</div>
                        </div>
                        <a href="student-cart.html" class="btn btn-white btn-block flex-column">
                            Purchase Course
                            <strong>&dollar;25 USD</strong>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="media align-items-center">
                            <div class="media-left">
                                <img src="{{ course.user.profile.profilePicsImageURL }}"
                                     alt="About Adrian" width="50"
                                     class="rounded-circle">
                            </div>
                            <div class="media-body">
                                <h5 class="card-title"><a
                                        href="student-profile.html">{{ course.user.profile.first_name }}
                                    - {{ course.user.profile.last_name }}</a></h5>
                                <p class="card-subtitle">{{ course.user.profile.user_type }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{ course.user.profile.about|truncatewords:20 }}</p>
                        <a href="" class="btn btn-light"><i class="fa fa-facebook"></i></a>
                        <a href="" class="btn btn-light"><i class="fa fa-twitter"></i></a>
                        <a href="" class="btn btn-light"><i class="fa fa-github"></i></a>
                    </div>
                </div>

                <div class="card">
                    <ul class="list-group list-group-fit">
                        <li class="list-group-item">
                            <div class="media align-items-center">
                                <div class="media-left">
                                    <i class="material-icons text-muted-light">assessment</i>
                                </div>
                                <div class="media-body">
                                 <span class="badge {% if course.tag == 'Advance' %}
                                        badge-danger
                                {% elif course.tag == 'Professional' %}
                                             badge-warning
                                {% else %}
                                         badge-success
                            {% endif %} ">{{ course.tag }}
                                 </span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media align-items-center">
                                <div class="media-left">
                                    <i class="material-icons text-muted-light">schedule</i>
                                </div>
                                <div class="media-body">
                                    2 <small class="text-muted">hrs</small> &nbsp; 26 <small
                                        class="text-muted">min</small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Ratings</h4>
                    </div>
                    <div class="card-body">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}

{% endblock script %}
