asgiref==3.3.1
autopep8==1.5.5
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
Django==3.1.5
django-allauth==0.44.0
django-cleanup==5.1.0
django-cors-headers==3.7.0
django-crispy==1.8.1
django-hosts==4.0
django-import-export==2.5.0
django-markdown-deux==1.0.5
django-pagedown==2.2.0
django-sendgrid-v5==0.9.0
django-upload-validator==1.1.5
et-xmlfile==1.0.1
future==0.18.2
gunicorn==20.0.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==3.4.0
jdcal==1.4.1
Markdown==3.3.3
markdown2==2.3.10
MarkupPy==1.14
moviepy==1.0.3
numpy==1.19.5
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.5
Pillow==8.1.0
proglog==0.1.9
psycopg2-binary==2.8.6
pycodestyle==2.7.0
pycparser==2.20
PyJWT==2.0.0
python-decouple==3.4
python-http-client==3.3.2
python-magic==0.4.18
python-magic-bin==0.4.14
python3-openid==3.2.0
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
sendgrid==6.6.0
six==1.15.0
sqlparse==0.4.1
starkbank-ecdsa==1.1.0
stripe==2.55.1
tablib==3.0.0
toml==0.10.2
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.2
xlrd==2.0.1
xlwt==1.3.0
zipp==3.4.0
