{% load static %}
<div class="col-lg-4">
    <div class="cst_card">
        <h3 class="title-box">Latest Posts?</h3>
        <ul class="blog-link">
            {% if latest_posts %}
                {% for item in latest_posts %}
                    <li><a href="{{ item.get_absolute_url }}" class="text-capitalize">{{ item.title }}</a></li>
                {% endfor %}
            {% endif %}

        </ul>
        <h3 class="title-box">Older Posts?</h3>
        <ul class="blog-link">

            {% if older_posts %}
                {% for item in older_posts %}
                    <li><a href="{{ item.get_absolute_url }}" class="text-capitalize">{{ item.title }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="cst_card">
        <div class="about-author">
            <h3 class="title-box">About AssassinFX</h3>
            <div class="img-holder text-center"><img src="{% static 'HomePage/images/author.jpg' %}" alt=""
                                                     style="max-height: 40%;" class="img-fluid">
            </div>
            -->
            <div class="author-des">
                <p>AssassinFX is an independent trader, ex-prop trader, and founder of AssassinFX.</p>
                <p>He is the most followed trader in Europe with more than 100,000 traders visiting her
                    website everymonth every month...</p>
                <a href="https://instagram.com/ninjaassassinforex">Continue reading</a></div>
        </div>
    </div>
</div>