{% extends 'HomePage/home_base.html' %}
{% block title %}
    Blog Detail || NinjaAssassinFx
{% endblock title %}

{% block style %}
    <style>
        .blog-detail img {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block content %}

    <section class="content-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_content">
                        <div class="blog-date">
                            <p>{{ post.webPublicationDate }}
                            </p>
                        </div>
                        <div class="blog-title">
                            <h3>{{ post.webTitle }}</h3>
                        </div>
                        <ul class="share-post">
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page_url }}" target="_blank"
                                   class="fb"><span class="icon-share "><i
                                    class="fab fa-facebook-f"></i></span><span>facebbok</span> </a></li>
                            <li><a href="https://www.twitter.com/home?status={{ post.webTitle }} {{ page_url }}"
                                   target="_blank" class="tw"><span class="icon-share "><i
                                    class="fab fa-twitter"></i></span><span>twitter</span> </a></li>

                        </ul>
                        <div class="blog-img"><img src="{{ post.fields.thumbnail }}" style="max-height: 604px !important;"
                                                   alt="" class="img-fluid w-100"></div>
                        <div class="blog-detail">

                            {{ post.fields.bodyText|linebreaks  }}
                            <span class="divider"></span></div>
                    </div>
                </div>

                {% comment %} blog section start{% endcomment %}
                {% include 'HomePage/blog/blog_suggestion.html' %}
                {% comment %} end blog section {% endcomment %}
            </div>
          
        </div>
    </section>

{% endblock content %}

