{% extends 'HomePage/home_base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <section class="content-main" style="min-height: 60vh">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class=" m-auto d-flex align-items-center flex-column justify-content-center">

                        <div class="card " style="padding: 60px !important;">
                            <div class="card-content text-capitalize">
                                <h1 class="text-capitalize ">Are you sure you would like to delete
                                    ?</h1>
                                <strong  style="margin-top: 50px;"> {{ post.title }}</strong>
                                <div class="d-flex align-items-center  justify-content-center " style="margin-top: 50px;">
                                    <form action="." method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                    <a class="btn btn-info" href="{{ post.get_absolute_url }}">Go back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}

{% endblock %}