{% extends 'HomePage/home_base.html' %}
{% block title %}
    Blog Detail || NinjaAssassinFx
{% endblock title %}

{% block style %}
    <style>
        .blog-detail img {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block content %}

    <section class="content-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_content">
                        <div class="blog-date">
                            <p>{{ post.timestamp|timesince }} ago By <a
                                    href="#"> {{ post.user.first_name }}
                                - {{ post.user.last_name }}</a> {{ post.comments.count }}
                                <a href="#comments_section" class="comments-link">Comments</a>
                            </p>
                        </div>
                        <div class="blog-title">
                            <h3>{{ post.title }}</h3>
                        </div>
                        <ul class="share-post">
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page_url }}" target="_blank"
                                   class="fb"><span class="icon-share "><i
                                    class="fab fa-facebook-f"></i></span><span>facebbok</span> </a></li>
                            <li><a href="https://www.twitter.com/home?status={{ post.title }} {{ page_url }}"
                                   target="_blank" class="tw"><span class="icon-share "><i
                                    class="fab fa-twitter"></i></span><span>twitter</span> </a></li>

                            {% if request.user == post.user %}
                                <li><a href="{% url 'blog:update_post' post.slug %}" class="tp"
                                       style="background-color: rgba(16,73,134,0.74) !important;"><span
                                        class="icon-share "><i
                                        class="fab fa-check-square-o"></i></span><span>Update</span> </a></li>

                                <li><a href="{% url 'blog:delete_post' post.slug %}" class="tp"
                                       style="background-color: rgba(250,24,0,0.74) !important;"><span
                                        class="icon-share "><i
                                        class="fab fa-trash"></i></span><span>Delete</span> </a></li>
                            {% endif %}
                        </ul>
                        <div class="blog-img"><img src="{{ post.imageURL }}" style="max-height: 604px !important;"
                                                   alt="" class="img-fluid w-100"></div>
                        <div class="blog-detail">

                            {{ post.get_markdown }}
                            <span class="divider"></span></div>
                    </div>
                </div>

                {% comment %} blog section start{% endcomment %}
                {% include 'HomePage/blog/blog_suggestion.html' %}
                {% comment %} end blog section {% endcomment %}
            </div>
            <div class="row" id="comments_section">
                <div class="col-lg-8">
                    <form action="{% url 'blog:comment_create' post.slug %}" method="POST">
                        {% csrf_token %}
                        <textarea name="content" class="form-control" id="id_content" maxlength="500"
                                  placeholder="Please comment  here"
                                  cols="15" rows="5"></textarea>
                        <br>
                        <button class="btn btn-primary  float-right">Comment <i class="fa fa-comment-plus"></i></button>
                    </form>
                </div>
            </div>
            <div class="row " style="margin-bottom: 20vh;margin-top: 20vh;">

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h3> Comment's {{ post.comment_set.count }} </h3>
                        </div>
                    </div>
                </div>
                {% for item in post.comment_set.all %}
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="row">
                                <div class="col-4">
                                    <div class="card-image"><img src="{{ item.user.profile.profilePicsImageURL }}"
                                                                 style="max-height: 110px;max-width: 110px;border-radius: 80%"
                                                                 alt=""></div>
                                </div>
                                <div class="col-8">
                                    <div class="lead p-5" style="padding-right: 50%">{{ item.content }}</div>
                                </div>
                            </div>
                            <div class="pl-3 pb-4 pt-4">
                                <h5 class="">by <span>{{ item.user.username }}</span>{{ item.timestamp|timesince }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}

