{% load i18n %}{% autoescape off %}

    Hello from <a href="http://assassinfx.com">AssassinFx</a>
    <br>
    You're receiving this e-mail because you or someone else has requested a password for your user account.
    It can be safely ignored if you did not request a password
    reset. Click the link below to reset your password.
    <br>
    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 20px;margin-top:20px">
        <a href="{{ password_reset_url }}" style="padding-top: 5px;
    padding-bottom: 5px;padding-left: 20px;padding-right: 20px;background-color: rgba(44,7,250,0.49);color: white">Reset
            Password</a>
        <br>

    </div>
    {% if username %}{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}

    {% endif %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using
        {{ site_domain }}{% endblocktrans %}
{% endautoescape %}
