<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Copy trade expired (AssasinFx)</title>
</head>
<body>
<h4>{{ copy_trade.user.first_name }} - {{ copy_trade.user.last_name }}</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores consequuntur cupiditate dolores expedita facere
    impedit maiores nihil quibusdam sed sit.</p>
</body>
</html>