@media(min-width: 320px) {
    .terms {
        height: 100%;
        margin: 50px 0;
    }
}

@media(min-width: 800px) {
    .terms {
        height: 100%;
    }
}

@media(min-width:1600px) {
    .img-inno img {
        width: 760px;
    }
    .education {
        padding-bottom: 281px;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

@media(max-width:1300px) {
    .blog-slider.owl-carousel .owl-nav button.owl-prev {
        left: -73px;
    }
    .blog-slider.owl-carousel .owl-nav button.owl-next {
        right: -73px;
    }
    .meet-innovative .content-card {
        max-width: 534px;
    }
    .porfoilio-box .table thead tr th,
    .porfoilio-box .table tbody tr td {
        padding: 12px 2px;
    }
    .rate-down,
    .rate-up {
        font-size: 18px;
    }
    .porfoilio-box {
        padding: 40px 10px;
    }
    .dte-cont li {
        font-size: 11px;
    }
    .main-content .media .media-body p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media(max-width:1199px) {
    header .navbar-nav li {
        margin: 0 10px;
    }
    .navbar-brand img {
        max-height: 50px;
        object-fit: cover;
    }
    header .navbar-nav li a,
    .user-mian a {
        font-size: 14px;
    }
    .user-mian a,
    header.sticky .user-mian a {
        padding: 30px 10px;
    }
    .card-edu h3 {
        font-size: 18px;
    }
    .img-inno img {
        max-width: 478px;
    }
    .meet-innovative .content-card {
        max-width: 458px;
    }
    .card-wrapper {
        max-width: 387px;
    }
    .card_body {
        padding-bottom: 0;
    }
    .left-img {
        width: 70px;
    }
    .right-img {
        width: 70px;
    }
    .icon-box {
        width: 68px;
        height: 68px;
    }
    .icon-box img {
        height: 30px;
        object-fit: cover;
    }
    .hero-main .img-holder img {
        max-width: 473px;
    }
    .hero-main .text-holder {
        max-width: 458px;
    }
    .text-holder p {
        font-size: 16px;
        line-height: 28px;
    }
    .text-holder h3 {
        font-size: 42px;
        line-height: 48px;
    }
    .card-box ul li {
        line-height: 36px;
        font-size: 13px;
    }
    .caption h3 {
        font-size: 32px;
        line-height: 55px;
    }
    .blog-content {
        max-width: 850px;
    }
    .footer-logo {
        font-size: 24px;
    }
    .q-links li a {
        margin: 0 10px;
    }
    .q-links li a {
        font-size: 14px;
    }
    .social-footer li a {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    footer {
        padding: 132px 0 40px;
    }
    .education {
        padding-bottom: 100px !important;
    }
    .wrapper-step .table .btn.btn-primary,
    .wrapper-step .table .btn.btn_default {
        width: auto;
        font-size: 14px;
    }
    /* .wrapper-step .table.table-header tbody tr td:first-child {
        padding: 10px 10px;
    } */
    .card-subs h4 {
        font-size: 14px;
        line-height: 24px;
    }
    .gurannte-box h4 {
        font-size: 16px;
        line-height: 18px;
    }
    .gurannte-box p {
        font-size: 12px;
    }
    .card-subs p {
        margin-bottom: 14px;
        font-size: 13px;
    }
    .wrapper-step .table.table-content tbody tr td:first-child {
        font-size: 12px;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .wrapper-step .table tbody tr td {
        width: auto;
    }
    .wrapper-step .table tbody tr td:first-child {
        width: 220px;
    }
    .wrapper-step .table.table-content tbody tr.pay-option td {
        padding: 30px 10px;
    }
    .wrapper-step .table.table-content tbody tr td {
        height: 60px;
    }
    .porfoilio-box .table thead tr th,
    .porfoilio-box .table tbody tr td {
        padding: 15px 0;
    }
}

@media(max-width:991px) {
    .button-toggle {
        order: 3;
        width: 100%;
        text-align: right;
        padding: 5px 0;
    }
    header .navbar {
        flex-wrap: wrap;
    }
    .navbar-toggler {
        padding: 0;
    }
    .navbar-toggler i {
        color: #1d1d1d;
        font-size: 24px;
    }
    header.sticky .navbar-toggler i {
        color: #fff;
    }
    header .navbar .navbar-collapse {
        order: 4;
    }
    .user-mian a,
    header.sticky .user-mian a {
        padding: 0 10px;
    }
    .user-mian a:hover {
        background-color: transparent;
        color: #00b9ce;
    }
    .user-mian a:hover span img {
        filter: none;
    }
    .user-mian {
        border: none;
    }
    header {
        padding: 10px 0;
    }
    header .navbar-nav li {
        margin: 0;
    }
    header .navbar-nav li a {
        padding: 6px 0;
    }
    header .navbar-nav li:last-child {
        margin: 0;
    }
    .navbar-nav .language .dropdown-menu {
        position: absolute;
    }
    header .navbar-nav li.language a.dropdown-toggle {
        justify-content: flex-end;
    }
    .hero-main .img-holder {
        margin-top: 0;
        margin-left: 0;
    }
    .hero-main .img-holder img {
        width: 100%
    }
    .hero-main .text-holder {
        margin-bottom: 30px;
    }
    .text-holder h3 {
        font-size: 36px;
        line-height: 40px;
    }
    .text-holder p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 18px;
    }
    .btn.btn-dark,
    .btn.btn-light {
        width: 158px;
        height: 48px;
        font-size: 14px;
    }
    .text-holder span {
        font-size: 14px;
    }
    .hero-main {
        padding: 50px 0 155px;
    }
    .card-edu {
        padding: 16px 18px;
    }
    .card-edu h3 {
        min-height: 55px;
    }
    .card-edu p {
        font-size: 14px;
        line-height: 22px;
    }
    .meet-innovative {
        margin-top: 40px;
    }
    .meet-innovative .content-card {
        max-width: 376px;
    }
    .img-inno img {
        max-width: 336px;
    }
    .content-card h3 {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 8px;
    }
    .meet-innovative .content-card {
        padding-top: 0;
    }
    .content-card p {
        font-size: 14px;
        line-height: 24px;
    }
    .caption p,
    .caption small {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .card-wrapper {
        max-width: 100%;
        margin-left: 63px;
    }
    .accordian:after {
        height: 82%;
    }
    .accordian {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .our-process .caption {
        margin-bottom: 30px;
    }
    .newsletter .custom-form {
        max-width: 100%;
    }
    .newsletter {
        padding: 33.5px 0 54.5px;
    }
    .blog-des {
        padding: 0 20px 30px;
    }
    .date-blog h5 {
        padding: 30px 20px 19px;
    }
    .date-blog h5:before {
        width: 15px;
    }
    .blog-slider.owl-carousel .owl-nav button {
        width: 35px;
        height: 35px;
    }
    .blog-slider.owl-carousel .owl-nav button.owl-prev {
        left: -42px;
    }
    .blog-slider.owl-carousel .owl-nav button.owl-next {
        right: -42px;
    }
    .blog-des h3 {
        font-size: 16px;
        line-height: 28px;
    }
    .blog-des p {
        font-size: 14px;
        line-height: 24px;
    }
    .blog {
        padding: 60px 0;
        background-color: #ffffff;
    }
    .contact-main {
        padding: 60px 0;
    }
    .form-control {
        height: 40px;
        font-size: 14px;
    }
    .contact-main .custom-form .btn.btn-primary {
        height: 40px;
    }
    .contact-main .custom-form .form-control {
        margin-bottom: 20px;
    }
    textarea.form-control {
        min-height: 99px;
    }
    .f-logo {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
    .footer-links {
        flex-direction: column;
        justify-content: center;
    }
    .q-links {
        margin-bottom: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .q-links li a {
        margin-bottom: 5px;
    }
    .our-products [class*="col-"]:nth-child(odd) {
        margin-top: 0;
    }
    .our-products .caption {
        margin-bottom: 67px;
    }
    .subscribe-now {
        margin-top: 0;
    }
    .user-mian {
        display: none;
    }
    header .navbar-nav li.m-login {
        display: block;
    }
    header .navbar-nav {
        padding-top: 8px;
    }
    .gurannte-box p {
        line-height: 18px;
    }
    .card-subs h4 {
        line-height: 18px;
    }
    .wrapper-step .table .btn.btn-primary,
    .wrapper-step .table .btn.btn_default {
        width: auto;
        font-size: 12px;
        height: 40px;
    }
    .card-subs .pr-my span b {
        font-size: 14px;
    }
    .wrapper-step .table tbody tr td:first-child {
        width: 150px;
    }
    .card-subs .pr-my {
        flex-direction: column;
    }
    .card-subs .pr-my span:first-child {
        border: none;
    }
    .card-subs h4 {
        min-height: 37px;
    }
    .wrapper-step .table.table-content tbody tr.pay-option td {
        padding: 15px 10px;
    }
    .payment-confirm h3 {
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 0px;
    }
    .step-links li a {
        font-size: 14px;
        padding: 0 20px;
    }
    .step-links li a span {
        width: 30px;
        height: 30px;
    }
    .sw-theme-default>ul.step-anchor>li>a::after {
        width: 32px;
        right: -17px;
    }
    .porfoilio-box {
        padding: 20px 20px;
    }
    .dismiss {
        display: block;
    }
    .sidebarCollapse {
        display: block;
    }
    .sidebar {
        width: 281px;
        position: fixed;
        top: 0;
        left: -281px;
        height: 100vh;
        z-index: 999;
        color: #fff;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    .sidebar.active {
        left: 0;
    }
    .sidebarCollapse {
        margin: 15px 40px 0;
        background-color: #00b9ce;
        color: #fff;
        border: 1px solid #00b9ce;
        padding: 4px 8px;
    }
    .dismiss {
        border: none;
        color: #fff;
        background-color: transparent;
        margin-left: auto;
        padding: 0 10px;
        font-size: 18px;
    }
    .inner-main {
        padding: 20px;
    }
    .blog-title,
    .blog-date,
    .blog-detail {
        padding: 18px 30px;
    }
}

@media(max-width:767px) {
    .education h4 {
        font-size: 14px;
        line-height: 24px;
    }
    .card-edu h3 {
        min-height: auto;
    }
    .img-inno {
        position: relative;
        top: auto;
        right: auto;
    }
    .education .no-gutters {
        box-shadow: none;
    }
    .card-edu {
        margin-bottom: 30px;
    }
    .img-inno img {
        max-width: 100%;
    }
    .meet-innovative .content-card {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .blog-slider.owl-carousel .owl-nav button.owl-prev {
        left: -25px;
    }
    .blog-slider.owl-carousel .owl-nav button.owl-next {
        right: -25px;
    }
    .mob-content {
        display: block;
    }
    .card-collapse {
        margin-bottom: 30px;
    }
    .card-collapse.active .card_header1 a .card-edu {
        background-color: #1d1d1d;
    }
    .card-collapse.active .card_header1 a {
        position: relative;
        display: block;
    }
    .card-collapse.active .card_header1 a .card-edu h3,
    .card-collapse.active .card_header1 a .card-edu p {
        color: #fff;
    }
    .card-collapse.active .card_header1 a:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 183, 213, 0);
        border-top-color: #1d1d1d;
        border-width: 14px;
        margin-left: -14px;
    }
    .card-edu {
        margin-bottom: 20px;
        padding: 30px;
        min-height: auto;
    }
    .card-collapse .card-body {
        padding: 30px;
    }
    .content-edu .nav,
    .tab-desktop {
        display: none;
    }
    .meet-innovative {
        background-color: transparent
    }
    .wrapper-step .table {
        width: 100%;
    }
    .step-links li a {
        font-size: 12px;
        padding: 0 16px;
    }
    .step-links li a span {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }
    .step-links li a span small {
        font-size: 12px;
    }
    .sw-theme-default>ul.step-anchor>li>a::after {
        width: 26px;
        right: -14px;
    }
    .wrapper-step {
        padding: 40px 0;
    }
    .main-content .media {
        flex-direction: column;
    }
    .main-content .media .img-holder {
        width: 100%;
        margin-bottom: 15px;
    }
    .main-content .media .img-holder img {
        width: 100%;
    }
}

@media(max-width:575px) {
    .price-box .pr-total p span {
        font-size: 24px;
        line-height: 32px;
    }
    .price-box .pr-total span {
        font-size: 12px;
    }
    .navbar-brand img {
        max-height: 35px;
        object-fit: cover;
    }
    .blog-slider.owl-carousel .owl-nav button.owl-next {
        right: -18px;
    }
    .blog-slider.owl-carousel .owl-nav button.owl-prev {
        left: -18px;
    }
    .card-edu,
    .card-collapse .card-body {
        padding: 15px;
    }
    .card-edu h3 {
        line-height: normal;
        margin-bottom: 5px;
    }
    .meet-innovative {
        margin-top: 0;
    }
    .card-edu {
        margin-bottom: 13px;
    }
    .content-card h3 {
        line-height: 28px;
    }
    .meet-innovative .content-card {
        margin-bottom: 15px;
    }
    .education {
        padding-bottom: 35px;
    }
    .cst-form .form-control {
        height: 40px;
    }
    .cst-form .heading3 {
        margin-bottom: 15px;
    }
    .cst-form .mb-40 {
        margin: 0 -15px;
    }
    .order-box {
        padding: 30px 15px;
    }
    .wrapper-step {
        padding: 40px 0;
    }
    .pricing-table {
        padding-bottom: 40px;
    }
    .payment-confirm h3 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 8px;
    }
    .payment-confirm p {
        font-size: 14px;
        line-height: 24px
    }
    .step-links {
        flex-direction: column;
    }
    .sw-theme-default>ul.step-anchor>li {
        margin-bottom: 10px;
    }
    .sw-theme-default>ul.step-anchor>li.done>a::after,
    .sw-theme-default>ul.step-anchor>li.active>a::after {
        content: none;
    }
    .inner-main .nav li {
        margin-right: 13px;
    }
    .inner-main .nav {
        padding: 0 10px;
    }
    .main-content .media .media-body h3 {
        margin-bottom: 8px;
    }
    .dte-cont li {
        padding: 0 5px;
        margin-bottom: 5px;
    }
    .dte-cont {
        margin-bottom: 0;
    }
    .main-content .media {
        padding: 15px 0;
    }
    .main-content .media .img-holder,
    .main-content .media .media-body {
        padding: 0 15px;
    }
    .inner-main {
        padding: 15px;
    }
    .sidebarCollapse {
        margin: 15px 15px 0;
    }
    .blog-title,
    .blog-date,
    .blog-detail {
        padding: 15px;
    }
    .blog-title a {
        font-size: 18px;
        color: #1d1d1d;
        line-height: 22px;
    }
    .blog-date p {
        font-size: 12px;
    }
    .blog-title {
        margin-bottom: 15px;
    }
    .blog-detail p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .blog-link li a {
        font-size: 14px;
    }
    .author-des p {
        font-size: 14px;
        line-height: 24px;
    }
    .blog_content {
        margin-bottom: 30px;
    }
    .blog-link li {
        margin-bottom: 8px;
    }
    .blog-detail li a {
        font-size: 14px;
        line-height: 24px;
    }
    .share-post li a {
        padding: 10px;
        font-size: 9px;
    }
}

@media(max-width:479px) {
    .user-mian a,
    header.sticky .user-mian a {
        font-size: 10px;
        padding: 0;
    }
    .user-mian a span {
        margin-right: 5px;
    }
    .navbar-brand img {
        max-height: 30px;
        object-fit: cover;
    }
    .text-holder a.btn {
        margin-right: 0;
    }
    .btn.btn-dark,
    .btn.btn-light {
        width: 132px;
        font-size: 12px;
    }
    .text-holder span {
        font-size: 12px;
    }
    .text-holder h3 {
        margin-bottom: 0;
    }
    .content-card h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .card-wrapper {
        margin-left: 30px;
    }
    .accordian:after {
        left: -3px;
    }
    .card_header a {
        font-size: 16px;
    }
    .card-wrapper {
        padding: 15px;
    }
    .card_header a:before {
        left: -54px;
    }
    .our-products .left-img {
        top: -54px;
    }
    .card-box h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .card-box ul li {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 8px;
    }
    .card-box {
        padding: 83px 10px 30px;
    }
    .price-box .pr-total {
        width: 100%;
    }
    .price-box .pr-total {
        border: none;
    }
    .card-box {
        margin-bottom: 30px;
    }
    .subscribe-now .caption h3,
    .caption h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .caption h3 {
        margin-bottom: 8px;
    }
    .contact-main .caption h4 {
        font-size: 14px;
        line-height: 24px;
    }
    .price-box .pr-total {
        padding-bottom: 0;
    }
    .newsletter .btn.btn-group {
        width: 116px;
        font-size: 12px;
    }
    .newsletter .custom-form .form-control {
        font-size: 12px;
    }
    .newsletter .custom-form .icon-e {
        font-size: 16px;
        padding-left: 9px;
    }
    .blog-slider.owl-carousel .owl-nav button {
        top: 50%;
    }
    .blog-slider.owl-carousel .owl-nav button {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .icon-box {
        top: 15px;
        right: 15px;
    }
    .dashboard-logo a img {
        height: 40px;
    }
    .user-log {
        padding: 14.5px 15px;
        align-items: center;
    }
    .sidebar {
        min-width: 100%;
        max-width: 100%;
        left: -100%;
    }
    .sidebar ul li a {
        padding: 15.5px 13px;
        font-size: 14px;
    }
    .p-t-90 {
        padding-top: 30px;
    }
    .wrap-login100 {
        padding: 24px 15px 37px 15px;
    }
}