<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <title>Blog || AssassinFX</title>
</head>

<body>
    <!--HEADER START-->
    <div class="wrapper">
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="220" height="75" viewBox="0 0 157 75">
                            <defs>
                                <style>

                                </style>
                            </defs>
                            <g id="Group_2" data-name="Group 2" transform="translate(-465 -289)">
                                <g id="Group_1" data-name="Group 1">
                                    <text id="AssassinFx_" data-name="AssassinFx " class="cls-1"
                                        transform="translate(466 331)">
                                        <tspan x="0" y="0">AssassinFx </tspan>
                                    </text>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fal fa-bars"></i> </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="blog.html">Faq</a></li>
                            <li class="dropdown language">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="flag"><img src="images/flag.png" alt=""> </span> EN <i class="far fa-chevron-down"></i> </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink"> <a href="#"><span class="flag"><img src="images/flag.png" alt=""> </span> EN</a> <a href="#"><span class="flag"><img src="images/flag.png" alt=""> </span> EN</a> <a href="#"><span class="flag"><img src="images/flag.png" alt=""> </span> EN</a>                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="user-mian ml-auto"> <a href="#" data-toggle="modal" data-target="#login_modal"><span><img src="images/av.png" alt=""></span> Member Login</a></div>
                </nav>
            </div>
        </header>
        <!--HEADER END-->
        <section class="content-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_content">
                            <div class="blog-date">
                                <p>May 6, 2019 By <a href="#">AssassinFX</a> 29 <a href="#" class="comments-link">Comments</a></p>
                            </div>
                            <div class="blog-title"> <a href="detail-blog.html">The Trend Reversal Trading Strategy Guide</a> </div>
                            <div class="blog-img">
                                <a href="detail-blog.html"><img src="images/blog1.png" alt="" class="img-fluid w-100"></a>
                            </div>
                            <div class="blog-detail">
                                <p>You’ve probably heard this a million times… “Don’t trade against the trend.” And I’ve said it myself too. But here’s the thing… Trend reversal trading can be crazily profitable — if you do it right. Imagine: You know how
                                    to identify high probability trend reversal areas. You can catch market tops and bottoms with heightened […]</p>
                                <span class="divider"></span> </div>
                        </div>
                        <!--Blog 2-->
                        <div class="blog_content">
                            <div class="blog-date">
                                <p>jul 6, 2019 By <a href="#">AssassinFX</a> 29 <a href="#" class="comments-link">Comments</a></p>
                            </div>
                            <div class="blog-title"> <a href="detail-blog.html">The Trend Reversal Trading Strategy Guide</a> </div>
                            <div class="blog-img">
                                <a href="detail-blog.html"> <img src="images/blog2.png" alt="" class="img-fluid w-100"></a>
                            </div>
                            <div class="blog-detail">
                                <p>Chart patterns are one of the most powerful tools you can use in your trading (only if you use it correctly). For example, it can help you: Read market conditions accurately so you know whether to buy or sell Get out of
                                    losing trades quickly and better manage your risk Find high probability trading opportunities […]</p>
                                <span class="divider"></span> </div>
                        </div>
                        <!--Blog 3-->
                        <div class="blog_content">
                            <div class="blog-date">
                                <p>march 18, 2019 By <a href="#">AssassinFX</a> 29 <a href="#" class="comments-link">Comments</a></p>
                            </div>
                            <div class="blog-title"> <a href="detail-blog.html">The Trend Reversal Trading Strategy Guide</a> </div>
                            <div class="blog-img">
                                <a href="detail-blog.html"><img src="images/blog3.png" alt="" class="img-fluid w-100"></a>
                            </div>
                            <div class="blog-detail">
                                <p>Chart patterns are one of the most powerful tools you can use in your trading (only if you use it correctly). For example, it can help you: Read market conditions accurately so you know whether to buy or sell Get out of
                                    losing trades quickly and better manage your risk Find high probability trading opportunities […]</p>
                                <span class="divider"></span> </div>
                        </div>
                        <!--Blog 4-->
                        <div class="blog_content">
                            <div class="blog-date">
                                <p>May 6, 2019 By <a href="#">AssassinFX</a> 29 <a href="#" class="comments-link">Comments</a></p>
                            </div>
                            <div class="blog-title"> <a href="detail-blog.html">The Trend Reversal Trading Strategy Guide</a> </div>
                            <div class="blog-img">
                                <a href="detail-blog.html"><img src="images/blog4.png" alt="" class="img-fluid w-100"></a>
                            </div>
                            <div class="blog-detail">
                                <p>Chart patterns are one of the most powerful tools you can use in your trading (only if you use it correctly). For example, it can help you: Read market conditions accurately so you know whether to buy or sell Get out of
                                    losing trades quickly and better manage your risk Find high probability trading opportunities […]</p>
                                <span class="divider"></span> </div>
                        </div>
                        <!--Blog 5-->
                        <div class="blog_content">
                            <div class="blog-date">
                                <p>May 10, 2020 By <a href="#">AssassinFX</a> 29 <a href="#" class="comments-link">Comments</a></p>
                            </div>
                            <div class="blog-title"> <a href="detail-blog.html">The Trend Reversal Trading Strategy Guide</a> </div>
                            <div class="blog-img">
                                <a href="detail-blog.html"> <img src="images/blog5.png" alt="" class="img-fluid w-100"></a>
                            </div>
                            <div class="blog-detail">
                                <p>Chart patterns are one of the most powerful tools you can use in your trading (only if you use it correctly). For example, it can help you: Read market conditions accurately so you know whether to buy or sell Get out of
                                    losing trades quickly and better manage your risk Find high probability trading opportunities […]</p>
                                <span class="divider"></span> </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cst_card">
                            <h3 class="title-box">Things i will learn in AssassinFX academy?</h3>
                            <ul class="blog-link">
                                <li><a href="#">The Monster Guide to Candlestick Patterns</a></li>
                                <li><a href="#">The Price Action Trading Strategy Guide</a></li>
                                <li><a href="#">Entries</a></li>
                                <li><a href="#">The 5 Best Trend Indicators That Work</a></li>
                                <li><a href="#">Key Levels</a></li>
                                <li><a href="#">Psychology</a></li>
                                <li><a href="#">Trade Hours</a></li>
                                <li><a href="#">Risk Management</a></li>
                                <li><a href="#">Exit Strategies</a></li>
                            </ul>
                        </div>
                        <div class="cst_card">
                            <div class="about-author">
                                <h3 class="title-box">About AssassinFX</h3>
                                <div class="imng-holder text-center"> <img src="images/author.jpg" alt="" class="img-fluid"> </div> -->
                                <div class="author-des">
                                    <p>AssassinFX is an independent trader, ex-prop trader, and founder of AssassinFX.</p>
                                    <p>He is the most followed trader in Europe with more than 100,000 traders visiting her website everymonth every month...</p>
                                    <a href="https://instagram.com/ninjaassassinforex">Continue reading</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Section Footer Start-->
        <footer>
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-lg-3">
                        <div class="f-logo">
                            <a href="#" class="footer-logo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="157" height="50" viewBox="0 0 157 75">
                                <defs>
                                    <style>

                                    </style>
                                </defs>
                                <g id="Group_2" data-name="Group 2" transform="translate(-465 -289)">
                                    <g id="Group_1" data-name="Group 1">
                                        <text id="AssassinFx_" data-name="AssassinFx " class="cls-1"
                                            transform="translate(466 331)">
                                            <tspan x="0" y="0">AssassinFx </tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="footer-links">
                            <ul class="q-links">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index.html#service">Our Services</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="terms.html">Terms and Conditions</a></li>
                            </ul>
                            <ul class="social-footer">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/115098447" allowfullscreen="" data-gtm-yt-inspected-2340190_699="true" data-gtm-yt-inspected-2340190_908="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal login-modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="limiter">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
                        <div class="wrap-login100">
                            <form class="login100-form validate-form">
                                <span class="d-block text-center "> <img src="images/logo-white.png" alt=""> </span>
                                <h3 class="login100-form-title "> Log in</h3>
                                <div class="wrap-input100 validate-input" data-validate="Enter username">
                                    <input class="input100" type="text" name="username" placeholder="Username">
                                    <span class="focus-input100" data-placeholder="&#xf007;"></span> </div>
                                <div class="wrap-input100 validate-input" data-validate="Enter password">
                                    <input class="input100" type="password" name="pass" placeholder="Password">
                                    <span class="focus-input100" data-placeholder="&#xf023;"></span> </div>
                                <div class="contact100-form-checkbox">
                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                    <label class="label-checkbox100" for="ckb1"> Remember me </label>
                                </div>
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn mb-3"> Login </button>
                                </div>
                                <div class="text-center p-t-90"> <a class="txt1" href="#"> Forgot Password? </a> </div>
                                <div class="ext-link ">
                                    <a href="#">Not registered yet? </a>
                                    <a href="pricing.html">Subscribe to our services </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Section Footer End-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/login-form.js"></script>
</body>

</html>