{% extends 'HomePage/home_base.html' %}

{% block content %}
    <section class="content-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_content">
                        <div class="blog-date">
                            <p>{{ post.timestamp|timesince }} By <a
                                    href="#"> {{ post.user.username }}</a> {{ post.comments.count }}
                                <a href="#" class="comments-link">Comments</a>
                            </p>
                        </div>
                        <div class="blog-title">
                            <h3>{{ post.title }}</h3>
                        </div>
                        <ul class="share-post">
                            <li><a href="#" class="fb"><span class="icon-share "><i
                                    class="fab fa-facebook-f"></i></span><span>facebbok</span> </a></li>
                            <li><a href="#" class="tw"><span class="icon-share "><i
                                    class="fab fa-twitter"></i></span><span>twitter</span> </a></li>
                            <li><a href="#" class="tp"><span class="icon-share "><i
                                    class="fab fa-telegram-plane"></i></span><span>Telegram</span> </a></li>
                        </ul>
                        <div class="blog-img"><img src="{{ post.imageURL }}" style="max-height: 604px !important;" alt="" class="img-fluid w-100"></div>
                        <div class="blog-detail">
                            {{ post.get_markdown }}
                            <span class="divider"></span></div>
                    </div>
                </div>

                {% comment %} blog section start{% endcomment %}
                {% include 'HomePage/blog_suggestion.html' %}
                {% comment %} end blog section {% endcomment %}
            </div>
        </div>
    </section>

{% endblock content %}