{% extends 'HomePage/home_base.html' %} {% load static %} {% block title %} Pricing || ForexTrading {% endblock title %} {% block style %}
<style>
    .icon_color {
        color: #00b9ce !important;
    }
</style>
{% endblock %} {% block content %}
<!--Select Links End-->
<section class="pricing-table">
    <div id="smartwizard">
        <ul class="step-links">
            <li><a href="#step-1"><span> <small>1</small><i class="far fa-check"></i></span> Select Your Plan</a>
            </li>
            </li>
        </ul>
        <div class="container mx-auto pr-wrapper">
            <div id="step-1" class="">
                <div class="wrapper-step">
                    <div class="table-responsive">
                        <table class="table table-header" style="width: auto;">
                            <tbody>
                                <tr>
                                    <td class="bg-white">

                                        <div class="gurannte-box">
                                            <h4>Subscriptions</h4>
                                            <!-- <p></p> -->
                                        </div>
                                    </td>

                                    <!-- <td class="bg-lightblue">
                                        <div class="card-subs">
                                            <div class="img-holder"><img src="{% static 'dashboard/dashboard_base/assets/images/icon1.png' %}" alt=""></div>
                                            <h4>Forex Academy</h4>
                                            <div class="pr-my">${{ paid_membership.price }}
                                            </div>
                                            <p>(One time payment)</p>
                                            <a href="{% url 'memberships:membership_select' %}" class="btn btn_default ">Subscribe Now</a></div>
                                    </td> -->
                                    {% if monthly_signal %}
                                    <td class="bg-darkblue" style="padding: 24px 10px;">
                                        <div class="card-subs">
                                            <div class="img-holder"><img src="{% static 'dashboard/dashboard_base/assets/images/stock.png' %}" alt=""></div>
                                            <h4>Monthly Signal</h4>
                                            <div class="pr-my"><span><b>${{ monthly_signal.price }}</b>/mo</span>
                                            </div>

                                            <a href="{% url 'signal:signal_payment' monthly_signal.signal_choice %}" class="btn btn-primary w-100 ">Buy Now</a>
                                    </td>
                                    {% endif %} {% if quarterly_signal %}
                                    <td class="bg-lightblue" style="padding: 24px 10px;">
                                        <div class="card-subs">
                                            <div class="img-holder"><img src="{% static 'dashboard/dashboard_base/assets/images/stock.png' %}" alt=""></div>
                                            <h4>Quarterly Signal</h4>
                                            <div class="pr-my"><span><b>${{ quarterly_signal.price }}</b>/mo</span>
                                            </div>

                                            <a href="{% url 'signal:signal_payment' quarterly_signal.signal_choice %}" class="btn btn-primary w-100 ">Buy Now</a>
                                    </td>
                                    {% endif %} {% if yearly_signal %}
                                    <td class="bg-darkblue" style="padding: 24px 10px;">
                                        <div class="card-subs">
                                            <div class="img-holder"><img src="{% static 'dashboard/dashboard_base/assets/images/stock.png' %}" alt=""></div>
                                            <h4>Yearly Signal</h4>
                                            <div class="pr-my"><span><b>${{ yearly_signal.price }}</b>/mo</span>
                                            </div>

                                            <a href="{% url 'signal:signal_payment' yearly_signal.signal_choice %}" class="btn btn-primary w-100 ">Buy Now</a>
                                    </td>
                                    {% endif %} {% if copy_trade %}
                                    <td class="bg-lightblue" style="padding: 24px 10px;">
                                        <div class="card-subs">
                                            <div class="img-holder"><img src="{% static 'dashboard/dashboard_base/assets/images/cryto-icon.png' %}" alt=""></div>
                                            <h4>Copy Trading </h4>
                                            <div class="pr-my"><span><b>${{ copy_trade.price }}</b>/mo</span>

                                            </div>
                                            <p>(Automatic trades placed for you on your MT4/MT5 account)</p>
                                            <a href="{% url 'copy_trade:copy_trade_form' %}" class="btn btn_default ">Subscribe
                                                    Now</a></div>
                                    </td>
                                    {% endif %}

                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-content" style="width:100%;">
                            <tbody style="width: 100%;">
                                <tr>
                                    <td>Number of Guaranteed Trading Alerts Weekly</td>
                                    <td><span class="txtb">5</span></td>
                                    <td><span class="txtb">5</span></td>
                                    <td><span class="txtb">5</span></td>
                                    <td><span class="txtb">5</span></td>
                                </tr>
                                <tr>
                                    <td>Signals currencies, US30 and Nas 100</td>
                                    <td><span class="txtb"><i class="fal fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="fal fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="fal fa-check"></i></span></td>
                                </tr>
                                <tr>
                                    <td>5 - 15 Signals per week</td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Month-to-Month Income Generation</td>
                                    <td><span class="txtb"><i class="fal fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="fal fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="fal fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Comprehensive Market Research & In-Depth Analaysis</td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Oppurtunity for Long Term {% comment %}w/ 100%+ Return{% endcomment %}</td>
                                    <td><span class="txtb"><i class="fal fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Where to check News and how to use it as confluence for your trades</td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb">none</span></td>
                                    <td><span class="txtb">none</span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Premium Education Resources and Weekly Webinar</td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb">none</span></td>
                                    <td><span class="txtb">none</span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Entry, Stop Loss and Take Profit</td>
                                    <td><span class="txtb">none</span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                    <td><span class="txtb"><i class="far fa-check"></i></span></td>
                                </tr>
                                <tr class="pay-option">
                                    <td></td>
                                    <!-- <td>
                                        <div class="card-subs">
                                            <div class="pr-my"><span><b>${{ paid_membership.price }}</b></span>
                                            </div>

                                            <a href="{% url 'memberships:membership_select' %}" class="btn btn_default ">Subscribe Now</a></div>
                                    </td> -->
                                    {% if monthly_signal %}
                                    <td>
                                        <div class="card-subs">
                                            <div class="pr-my"><span><b>${{ monthly_signal.price }}</b>/mo</span>
                                            </div>

                                            <a href="{% url 'signal:signal_payment' monthly_signal.signal_choice %}" class="btn btn-primary ">Subscribe
                                                Now</a></div>
                                    </td>
                                    {% endif %} {% if quarterly_signal %}
                                    <td>
                                        <div class="card-subs">
                                            <div class="pr-my"><span><b>${{ quarterly_signal.price }}</b>/3mo</span>
                                            </div>

                                            <a href="{% url 'signal:signal_payment' quarterly_signal.signal_choice %}" class="btn btn-primary ">Subscribe
                                                 Now</a>
                                        </div>
                                    </td>
                                    {% endif %} {% if yearly_signal %}
                                    <td>
                                        <div class="card-subs">
                                            <div class="pr-my"><span><b>${{ yearly_signal.price }}</b>/mo</span>
                                            </div>

                                            <a href="{% url 'signal:signal_payment' yearly_signal.signal_choice %}" class="btn btn-primary ">Subscribe
                                                  Now</a>
                                        </div>
                                    </td>
                                    {% endif %} {% if copy_trade %}
                                    <td>
                                        <div class="card-subs">
                                            <div class="pr-my"><span><b>${{ copy_trade.price }}</b>/yr</span>
                                            </div>

                                            <a href="{% url 'copy_trade:copy_trade_form' %}" class="btn btn_default ">Subscribe
                                                    Now</a></div>
                                    </td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <br/><br/><br/>
                        <div class="table-responsive">
                            <table class="table table-header" style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td class="bg-white">

                                            <div class="gurannte-box">
                                                <h4>Academy</h4>
                                                <!-- <p></p> -->
                                            </div>
                                        </td>

                                        <td class="bg-lightblue">
                                            <div class="card-subs">

                                                {% if Beginner_membership %}
                                                <div class="img-holder"><img src="{% static 'dashboard/dashboard_base/assets/images/icon1.png' %}" alt=""></div>
                                                <h4>Beginner Academy</h4>
                                                <div class="pr-my">${{ Beginner_membership.price }}
                                                </div>
                                                <p>(One time payment)</p>
                                                <form method="post" action="{% url 'memberships:membership_select' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="membership_type" value="{{ Beginner_membership.membership_type }}">
                                                    <button type="submit" class="btn btn_default ">Subscribe Now
                                                            </button>
                                                </form>
                                            </div>

                                            {% endif %}

                                        </td>
                                        <td class="">
                                            <div class="card-subs">

                                                {% if Intermediate_membership %}
                                                <div class="img-holder"><img src="{% static 'dashboard/dashboard_base/assets/images/icon1.png' %}" alt=""></div>
                                                <h4>Intermediate Academy</h4>
                                                <div class="pr-my">${{ Intermediate_membership.price }}
                                                </div>
                                                <p>(One time payment)</p>

                                                <form method="post" action="{% url 'memberships:membership_select' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="membership_type" value="{{ Intermediate_membership.membership_type }}">
                                                    <button type="submit" class="btn btn_default ">Subscribe Now
                                                    </button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="bg-lightblue">
                                            <div class="card-subs">
                                                {% if Advanced_membership %}
                                                <div class="img-holder"><img src="{% static 'dashboard/dashboard_base/assets/images/icon1.png' %}" alt=""></div>
                                                <h4>Advanced Academy</h4>
                                                <div class="pr-my">${{ Advanced_membership.price }}
                                                </div>
                                                <p>(One time payment)</p>
                                                <form method="post" action="{% url 'memberships:membership_select' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="membership_type" value="{{ Advanced_membership.membership_type }}">
                                                    <button type="submit" class="btn btn_default ">Subscribe Now
                                                    </button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-content" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>Why trade forex?</td>
                                        <td>Chart formations patterns</td>
                                        <td>Identifying Institutional Tactics</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>When to trade forex</td>
                                        <td>Head and Shoulders</td>
                                        <td>Trade According to Game Theory</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Trading Terminology</td>
                                        <td>Inverse Head and Shoulders</td>
                                        <td>Stock market trading</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>How to trade with leverage</td>
                                        <td>Bull and Bear flags</td>
                                        <td>Risk & Position Management</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>What is a PIP?</td>
                                        <td>Bullish and Bearish Pennant</td>
                                        <td>Intraday Trading</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Types of forex orders</td>
                                        <td>Ascending and Descending triangles</td>
                                        <td>Analyzing Economic Data</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <!-- <td><span class="txtb"><i class="far fa-check"></i></span></td> -->
                                        <td>Basic technical analysis, charting, Support and Resistance</td>
                                        <td>Ascending and Descending triangles</td>
                                        <td>VWAP strategies and 20:20 method</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <!-- <td><span class="txtb"><i class="far fa-check"></i></span></td> -->
                                        <td>Fibonacci</td>
                                        <td>Falling wedge</td>
                                        <td>Trading Small Caps</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <!-- <td><span class="txtb">none</span></td> -->
                                        <td>AND MORE</td>
                                        <td>AND MORE</td>
                                        <td>AND MORE</td>
                                    </tr>
                                    <tr class="pay-option">
                                        <td></td>
                                        <td>
                                            <div class="card-subs">

                                                {% if Beginner_membership %}

                                                <div class="pr-my"><span><b>${{ Beginner_membership.price }}</b></span>
                                                </div>

                                                <form method="post" action="{% url 'memberships:membership_select' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="membership_type" value="{{ Beginner_membership.membership_type }}">
                                                    <button type="submit" class="btn btn_default ">Subscribe Now
                                                    </button>
                                                </form>

                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="card-subs">

                                                {% if Intermediate_membership %}
                                                <div class="pr-my"><span><b>${{ Intermediate_membership.price }}</b></span>
                                                </div>
                                                <form method="post" action="{% url 'memberships:membership_select' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="membership_type" value="{{ Intermediate_membership.membership_type }}">
                                                    <button type="submit" class="btn btn_default ">Subscribe Now
                                                    </button>
                                                </form>

                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="card-subs">
                                                {% if Advanced_membership %}
                                                <div class="pr-my"><span><b>${{ Advanced_membership.price }}</b></span>
                                                </div>
                                                <form method="post" action="{% url 'memberships:membership_select' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="membership_type" value="{{ Advanced_membership.membership_type }}">
                                                    <button type="submit" class="btn btn_default ">Subscribe Now
                                                    </button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        </div>
                        </div>

                    </div>
                </div>
</section>
<!--Section Footer Start-->
{% endblock content %} {% block script %} {% endblock script %}