<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <title>Terms || NinjaAssassin</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="157" height="50" viewBox="0 0 157 75">
                            <defs>
                                <style>

                                </style>
                            </defs>
                            <g id="Group_2" data-name="Group 2" transform="translate(-465 -289)">
                                <g id="Group_1" data-name="Group 1">
                                    <text id="AssassinFx_" data-name="AssassinFx " class="cls-1"
                                        transform="translate(466 331)">
                                        <tspan x="0" y="0">AssassinFx </tspan>
                                    </text>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fal fa-bars"></i> </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="blog.html">Faq</a></li>
                            <li><a href="terms.html">Terms</a></li>
                            <li class="dropdown language">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="flag"><img src="images/flag.png" alt=""> </span> EN <i class="far fa-chevron-down"></i> </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink"> <a href="#"><span class="flag"><img src="images/flag.png" alt=""> </span> EN</a> <a href="#"><span class="flag"><img src="images/portugal.svg" alt="">
                                        </span>POL</a> <a href="#"><span class="flag"><img src="images/spain.svg"
                                                alt=""> </span>ESP</a></div>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </header>
        <!--HEADER END-->
        <div class="terms m-auto d-flex align-items-center flex-column justify-content-center">
            <h3 class="text-center terms-header">Terms and condition</h3>
            <p>This Privacy Policy establishes the terms in which Assassin Academy by Ninja Assassin uses and protects the information that is provided by its users when using its website. This company is committed to the security of its users’ data. When
                we ask you to fill in the personal information fields with which you can be identified, we do so ensuring that it will only be used in accordance with the terms of this document. However, this Privacy Policy may change over time or be
                updated, so we recommend that you continually review this page to ensure that you agree to such changes. Information that is collected Our website may collect personal information such as: Name, contact information such as your email address
                and demographic information. Likewise, when necessary, specific information may be required to process an order or make a delivery or billing. Use of collected information Our website uses the information in order to provide the best possible
                service, particularly to maintain a register of users, orders if applicable, and improve our products and services. It is possible that emails will be sent periodically through our site with special offers, new products and other advertising
                information that we consider relevant to you or that may provide you with some benefit, these emails will be sent to the address you provide and may be canceled anytime. AssassinAcademy by Ninja Assassin highly committed to fulfil the
                commitment to keep your information secure. We use the most advanced systems and constantly update them to ensure that there is no unauthorised access.
                <br /><br />COOKIES<br /><br />A cookie refers to a file that is sent with the purpose of requesting permission to be stored on your computer, by accepting said file it is created and the cookie then serves to have information regarding
                web traffic, and also facilitates future visits to a web recurrent. Another function that cookies have is that with them the websites can recognise you individually and therefore provide you with the best personalised service on their
                website.
                <br /><br />Links to Third Parties<br /><br />This website may contain links to other sites that may be of interest to you. Once you click on these links and leave our page, we no longer have control over the site to which you are redirected
                and therefore we are not responsible for the terms or privacy or the protection of your data on those other third party sites. These sites are subject to their own privacy policies, so it is recommended that you consult them to confirm
                that you agree with them. Control of your personal information At any time you can restrict the collection or use of personal information that is provided to our website. Every time you are asked to fill in a form, such as user registration,
                you can mark or unmark the option to receive information by email. In case you have marked the option to receive our newsletter or advertising, you can cancel it at any time. This company will not sell, transfer or distribute the personal
                information that is collected without your consent, unless required by a judge with a court order. Assassin Academy reserves the right to change the terms of this Privacy Policy at any time.
                <br /><br />Terms And Conditions<br /><br />These terms and conditions shall govern your use of our website. By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions
                or any part of these terms and conditions, you must not use our website.
                <br />Forex trading involves substantial risk and is not suitable for every investor. Forex prices may fluctuate and as a result, clients may lose more than their original investment. The impact of seasonal and political events is already
                factored into market prices. This means trades can work against you even with good risk management.
                <br />If the market moves against you, you may sustain a total loss greater than the amount you deposited into your account. You are responsible for all the risks and financial resources you use and for the chosen trading system.<br />Before
                deciding to trade, you should consider your investment objectives, level of experience, and evaluate the amount you are willing to risk. Do not risk money you cannot afford to lose. . If you do not fully understand the risks seek independent
                advice from a financial advisor.<br />All trading strategies are used at your own risk.<br />Any content on Assassin Academy should not be taken as gospel. You must research and decide if it is the best option for you. Trade only money
                that, if lost, will not affect your lifestyle and your ability to meet your financial responsibilities. i.e. Rent. Under no circumstance are past results a guarantee of future performance.
                <br />Assassin Academy is not responsible for any losses incurred as a result of using any of our trading strategies. Information is in no way guaranteed. No guarantee of any kind is implied. You are in control and responsible.
            </p>
        </div>
        <!--Section Footer Start-->
        <footer>
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-lg-3">
                        <div class="f-logo">
                            <a href="#" class="footer-logo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="157" height="50" viewBox="0 0 157 75">
                                <defs>
                                    <style>

                                    </style>
                                </defs>
                                <g id="Group_2" data-name="Group 2" transform="translate(-465 -289)">
                                    <g id="Group_1" data-name="Group 1">
                                        <text id="AssassinFx_" data-name="AssassinFx " class="cls-1"
                                            transform="translate(466 331)">
                                            <tspan x="0" y="0">AssassinFx </tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="footer-links">
                            <ul class="q-links">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="terms.html">Terms and Conditions</a></li>
                            </ul>
                            <ul class="social-footer">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--Section Footer End-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/login-form.js"></script>
</body>

</html>