{% extends 'StudentDashboard/student_dashboard_base.html' %}
{% load crispy_forms_filters %}


{% block styles %}

{% endblock %}


{% block title %}

{% endblock %}

{% block content %}

    <div class="row m-0">
        <div class="col-lg container-fluid ">

            <h1 class="h2">Update Question</h1>


            <form action="" method="post">
                {% csrf_token %}
                <div class="card  my_shadow" >
                    <div class="card-body">
                        {{ form|crispy }}
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}