{% extends 'StudentDashboard/student_dashboard_base.html' %}
{% load hosts %}
{% load crispy_forms_filters %}
{% block styles %}

{% endblock %}
{% block title %}
    Forum question {{ forum_question.title }}
{% endblock %}
{% block content %}


    <div class="row pt-5 mt-2">
        <div class="col-md-8" style="overflow:auto;">
            <div class="card card_shadow" style="padding-right:  20px;padding-left:  50px;padding-top:  50px;">
                {% if requset.user == forum_question.user or request.user.is_superuser %}
                    <div class="d-flex justify-content-between  ">
                        <div><a href="{% host_url 'forum_update' forum_question.id host 'academy' %}"><i
                                class="fa fa-pencil-square-o"></i></a></div>
                        <div><a href="{% host_url 'forum_delete' forum_question.id host 'academy' %}"><i
                                class="fa fa-trash text-danger"></i></a>
                        </div>
                    </div>
                {% endif %}

                <div class="d-flex justify-content-between">

                    <div class="card-title">
                        <h4 class="text-capitalize ">{{ forum_question.title }}</h4>
                    </div>
                    <div class="card-image">
                        <a href="{% host_url 'users:profile' forum_question.user.username host 'www' %}"><img
                                src="{{ forum_question.user.profile.profilePicsImageURL }}" alt="" width="100"
                                style="border-radius: 50%; max-height: 100px;"></a>
                    </div>
                </div>
                <div class="card-content">
                    <p class="text-muted">
                        {{ forum_question.get_markdown }}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between ">
                        <div class="lead font-italic">{{ forum_question.user.first_name }}
                            - {{ forum_question.user.last_name }}</div>
                        <div class="lead font-italic"> {{ forum_question.timestamp|timesince }} ago</div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">


                    {% for item in forum_question.forum_answers %}
                        <li class="list-group-item forum-thread ">
                            <div class="media align-items-center" style="padding-left:  50px;padding-top:  50px">
                                <div class="media-left">
                                    <div class="forum-icon-wrapper">
                                        <a href="{{ item.get_absolute_url }}" class="forum-thread-user pl-5">
                                            <img src="{{ item.user.profile.profilePicsImageURL }}" alt="" width="50"
                                                 class="rounded-circle "
                                                 style="border-radius: 50%; max-height: 50px;">
                                        </a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="">
                                        <p>{{ item.get_markdown }}</p>

                                        <div class="d-flex">
                                            <a href="{{ item.get_absolute_url }}" class="text-body"><strong>
                                                {{ item.user.first_name }} {{ item.user.last_name }}
                                            </strong></a>
                                            <small class="ml-auto text-muted">{{ item.timestamp|timesince }}
                                                ago</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </div>
                <div class="col-12" style="margin-top: 20vh;margin-bottom: 10vh;">

                    <div class="card  pt-3 ">
                        <form action="{% host_url 'forum_answer_create' forum_question.pk host 'academy' %}"
                              method="post"
                              class="">
                            <div class="card-content p-3">
                                {% csrf_token %} {{ form|crispy }}
                            </div>
                            <div class="card-footer ">
                                <button class="btn btn-primary btn-block">Answer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-4">
            <h3 class="text-capitalize">Recent Questions </h3>
            <p class="lead text-secondary"> Take part in recent forum</p>
            <div class="" style="height: 500px;overflow-y:scroll">

                {% for item in forumquestion_list %}
                    <li class="list-group-item forum-thread">
                        <div class="media align-items-center">
                            <div class="media-left">
                                <div class="forum-icon-wrapper">
                                    <a href="{{ item.get_absolute_url }}" class="forum-thread-icon">
                                        <i class="fa fa-info-circle "></i>
                                    </a>
                                    <a href="{% host_url 'users:profile' item.user.username host 'www' %}"
                                       class="forum-thread-user">
                                        <img src=" {{ item.user.profile.profilePicsImageURL }}" alt="profile image"
                                             width="50" class="rounded-circle" width="100"
                                             style="border-radius: 50%; max-height: 50px;">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="d-flex align-items-center">
                                    <a href="{{ item.get_absolute_url }}" class="text-body"><strong>
                                        {{ item.user.first_name }} {{ item.user.last_name }}
                                    </strong></a>
                                    <small class="ml-auto text-muted">{{ item.timestamp|timesince }}</small>
                                </div>
                                <a class="text-black-70"
                                   href="{{ item.get_absolute_url }}">{{ item.title|truncatechars:20 }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}

{% endblock %}