{% extends 'DashBoard/dashboard_base.html' %}
{% load static %}

{% block title %}
    Public profile
{% endblock %}
{% block styles %}

{% endblock %}

{% block profile_page %}
active
{% endblock %}



{% block content %}
    <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout"
         style="padding: 0px !important;margin: 0px !important;">
        <div class="mdk-drawer-layout__content page"
             style="padding: 0px !important;margin: 0px !important;">

            <div class="bg-primary mdk-box js-mdk-box mb-0" style="height: 192px;"
                 data-effects="parallax-background blend-background"
                 style="padding-top: 0px !important;margin-top: 0px !important;">
                <div class="mdk-box__bg">
                    <div class="mdk-box__bg-front"
                         style="background-image: url({% static 'dashboard/dashboard_base/assets/images/1280_rsz_aman-dhakal-205796-unsplash.jpg' %}); background-position: center;"></div>
                </div>
            </div>
            <div class="container-fluid page__container d-flex align-items-end position-relative mb-4">
                <div class="avatar avatar-xxl position-absolute bottom-0 left-0 right-0">
                    <img src="{{ user.profile.profilePicsImageURL }}" alt="avatar"
                         class="avatar-img rounded-circle border-3">
                </div>
                <ul class="nav nav-tabs-links flex" style="margin-left: 265px;">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Profile</a>
                    </li>
                </ul>
            </div>

            <div class="container-fluid  mb-3">
                <div class="row {% comment %}flex-sm-nowrap{% endcomment %}">
                    <div class="col" style="{% comment %}width: 265px{% endcomment %};">
                        <div class="">
                            <h4 class="d-flex align-items-center  mb-1 text-info">{{ user.first_name }}
                                - {{ user.last_name }}</h4>
                            <br>
                            <div class="text-muted  mb-2 text-info">
                                <span> <i class="fa fa-user mr-1 fa-2x text-info pl-3"></i></span>
                                <div class="flex text-info">{{ user.profile.user_type }}
                                    since {{ user.profile.timestamp }}</div>
                            </div>
                        </div>
                        <h4 class="text-info">About me</h4>
                        <p class="text-black-70 ">{{ user.profile.about }}.</p>

                        <h4 class="text-primary">Connect</h4>
                        <p class="text-black-70 ">{{ user.profile.status }}.</p>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6 "><h3 class="lead">Forum Questions</h3>
                        <div class="" style="height: 700px; overflow-y: auto;">
                            {% for item in user_forums %}
                                <div class="card ml-5 card_shadow">
                                    <div class="card-body">
                                        <div class="d-flex mb-1">
                                            <div class="avatar avatar-sm mr-3">
                                                <img src="{{ user.profile.profilePicsImageURL }}" alt="Avatar"
                                                     class="avatar-img rounded-circle">
                                            </div>
                                            <div class="flex">
                                                <div class="d-flex align-items-center mb-1">
                                                    <strong class="text-15pt">{{ item.user.first_name }}</strong>
                                                    <small class="ml-auto text-muted">{{ item.timestamp|timesince }} </small>
                                                </div>
                                                <div>
                                                    <p>{{ item.get_markdown|truncatewords:10 }}
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                        {% for item_answer in item.forum_answers %}
                                            <div class="card ml-5 p-4 card_shadow"
                                                 style="background-color: rgba(216,220,219,0.38)">
                                                <div class="d-flex justify-content-between align-content-between">
                                                    <div class="card-image">
                                                        <a href="{% url 'users:profile' item_answer.user.username %}">
                                                            <img
                                                                    src="{{ item_answer.user.profile.profilePicsImageURL }}"
                                                                    alt="{{ item_answer.user.username }}" width="50"
                                                                    style="border-radius: 50%"></a>
                                                    </div>
                                                    <div class="card-body text-info">
                                                        <p>{{ item_answer.get_markdown }}</p>
                                                    </div>
                                                </div>
                                                <div class=" text-info">
                                                    {{ item_answer.user.first_name }} {{ item_answer.user.last_name }}
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if user_course %}
                        <div class="col-md-6 mx-auto">
                            <h3 class="text-capitalize">{{ user.username }} Course</h3>
                            <div class="" style="height: 700px; overflow-y: scroll;">
                                {% for item in  user_course %}
                                    <div class="card card_shadow">
                                        <div class="d-flex">
                                            <div class="card-image">
                                                <a href="{{ item.get_absolute_url }}"> <img
                                                        src="{{ item.imageURL }}" alt=""
                                                        style="object-fit: contain; width: 300px"></a>
                                            </div>
                                            <div class="" style="padding: 20px;">
                                                <div class="d-flex">
                                                    <a href="{{ item.get_absolute_url }}"><h4
                                                            class="text-capitalize">{{ item.title }}</h4></a>
                                                    <h5><span><i
                                                            class="fa fa-clock-o"></i></span> {{ item.timestamp|timesince }}
                                                    </h5>
                                                </div>
                                                <p class="lead "> {{ item.description|truncatewords:10 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>


        </div>

    </div>
{% endblock %}

{% block script %}

{% endblock %}


