{% extends 'DashBoard/dashboard_base.html' %}
{% load crispy_forms_filters %}


{% block styles %}

{% endblock %}




{% block title %}
    Edit profile page
{% endblock %}

{% block content %}

    <div class="container-fluid page__container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
            <li class="breadcrumb-item active">Edit Account</li>
        </ol>
        <h1 class="h2">Edit Account</h1>
        <div class="card card_color" style="padding:20px">
            <div class="card-content">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}
                    <button class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

