<div id="page-nav" class="col-lg-auto page-nav">
    <div data-perfect-scrollbar>
        <div class="page-section pt-lg-32pt">
            <ul class="nav page-nav__menu">
                <li class="nav-item">
                    <a href="{% url 'memberships:profile' %}"
                       class="nav-link ">Subscription</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'memberships:membership_select' %}" class="nav-link">Upgrade Academy</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'users:profile_edit' %}" class="nav-link">Edit Account</a>
                </li>
            </ul>
        </div>
    </div>
</div>