{% extends 'DashBoard/dashboard_base.html' %}




{% block styles %}

{% endblock %}

{% block title %}

{% endblock %}


{% block content %}


    <div class="container-fluid page__container p-0">
        <div class="row m-0">
            <div class="col-lg container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'users:profile_edit' %}">Edit Account</a></li>
                </ol>

                <h1 class="h2">Upgrade Academy</h1>


                <div class="row card-group-row mb-40pt">
                    {% for object in object_list %}
                        <div class="col-lg-6 col-sm-6 card-group-row__col">

                            <div class="card card-group-row__card text-center o-hidden card--raised navbar-shadow">

                                <div class="card-body d-flex flex-column">
                                    <div class="flex-grow-1 mb-16pt">
                                                    <span class="w-64 h-64 icon-holder icon-holder--outline-secondary rounded-circle d-inline-flex mb-16pt">
                                                        <i class="fa fa-person-sign">{{ object.membership_type }}</i>
                                                    </span>
                                        <p class="text-black-70">Access to over {{ object.course_set.count }} high
                                            quality courses. For
                                            individuals.</p>
                                    </div>
                                    <p class="d-flex justify-content-center align-items-center m-0">
                                        <span class="h4 m-0 font-weight-normal">&dollar;</span>
                                        <span class="h1 m-0 font-weight-normal">{{ object.price }}</span>
                                        <span class="h4 m-0 font-weight-normal">/ month</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    {% if object.membership_type != 'Free' %}
                                        <form method="post" action="{% url 'memberships:membership_select' %}">
                                            {% csrf_token %}
                                            {% if object.membership_type != current_membership %}
                                                <button type="submit"
                                                        class="btn btn-success">Get started
                                                </button>
                                            {% endif %}
                                            <input type="hidden" name="membership_type"
                                                   value="{{ object.membership_type }}">
                                        </form>
                                    {% endif %}
                                    {% if object.membership_type == current_membership %}
                                        <a href="{% url 'memberships:profile' %}"
                                           class="btn btn-outline-secondary text-dark">Current
                                            plan</a>
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    {% endfor %}


                </div>
            </div>


            {#             beginning the page nav#}
            {% include 'DashBoard/payment/membership-page-nav.html' %}
            {#             end of page nav #}


        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}