{% extends 'DashBoard/dashboard_base.html' %}




{% block styles %}

{% endblock %}

{% block title %}
    Student Invoice
{% endblock %}


{% block content %}

    <div class="container-fluid page__container p-0">
        <div class="row m-0">
            <div class="col-lg container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'users:profile_edit' %}">Edit Account</a></li>
                </ol>

                <div id="invoice">
                    <div class="card">
                        <div class="card-header media align-items-center">
                            <div class="media-body">
                                <h1 class="card-title h2">Invoice</h1>
                                {% if created_at %}
                                    <div class="card-subtitle">Created {{ created_at }}</div>
                                {% endif %}
                                {% if next_billing_date %}
                                    <div class="card-subtitle">Next billing Date {{ next_billing_date }}</div>

                                {% endif %}
                            </div>
                            <div class="media-right d-flex align-items-center">
                                <a href="javascript:window.print()"
                                   class="btn btn-flush text-muted d-print-none mr-3"><i
                                        class="fa fa-print font-size-24pt text-info"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-black-70 m-0"><strong>Prepared for</strong></p>
                                    <h2>{{ request.user.profile.first_name }} {{ request.user.profile.last_name }} </h2>
                                </div>
                                <div class="col-6">
                                    <p class="text-black-70 m-0"><strong>Prepared by</strong></p>
                                    <h2>AssasinFx Inc.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card table-responsive">
                    <table class="table mb-0 table--elevated">
                        <thead class="thead-light">
                        <tr>
                            <th class="border-top-0">Title</th>
                            {% comment %}<th class="border-top-0 text-right" style="width: 120px;">Amount</th>{% endcomment %}
                        </tr>


                        </thead>
                        <tbody>
                        {% for item in recent_course.course.all %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="{{ item.get_absolute_url }}" class="avatar avatar-4by3 avatar-sm mr-3">
                                            <img src="{{ item.imageURL }}" alt="{{ item.title }}"
                                                 class="avatar-img rounded">
                                        </a>
                                        <div class="flex">
                                            <a href="{{ item.imageURL }}" class="text-body">
                                                <strong>{{ item.title }}</strong>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                {% comment %} <td class="text-right"><strong>&dollar;89.00 USD</strong></td>{% endcomment %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                <div class="px-16pt mb-4">
                    <p class="text-black-70 mb-8pt"><strong>Invoice paid</strong> <span>${{ membership_price }}</span>
                    </p>

                </div>
            </div>


            {#             beginning the page nav#}
            {% include 'DashBoard/payment/membership-page-nav.html' %}
            {#             end of page nav #}

        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}