{% extends 'DashBoard/dashboard_base.html' %}
{% load hosts %}




{% block styles %}

{% endblock %}

{% block title %}
    Student Invoice
{% endblock %}


{% block content %}

    <div class="container-fluid page__container p-0">
        <div class="row m-0">
            <div class="col-lg container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'users:profile_edit'  %}">Edit Account</a></li>
                </ol>

                <div id="invoice">
                    <div class="card">
                        <div class="card-header media align-items-center">
                            <div class="media-body">
                                <h1 class="card-title h2">Invoice</h1>
                                {% if created_at %}
                                    <h3 class="card-subtitle" style="font-size: 20px">Created {{ created_at }}</h3>
                                {% endif %}
                                <br><br>
                                {% if next_billing_date %}
                                    <h3 class="card-subtitle" style="font-size: 20px"><strong>Subscription
                                        ends {{ next_billing_date }}</strong></h3>

                                {% endif %}
                            </div>
                            <div class="media-right d-flex align-items-center">
                                <a href="javascript:window.print()"
                                   class="btn btn-flush text-muted d-print-none mr-3"><i
                                        class="fa fa-print font-size-24pt text-info"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-black-70 m-0"><strong>Prepared for</strong></p>
                                    <h2>{{ request.user.profile.first_name }} {{ request.user.profile.last_name }} </h2>
                                </div>
                                <div class="col-6">
                                    <p class="text-black-70 m-0"><strong>Prepared by</strong></p>
                                    <h2>AssasinFx Inc.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="px-16pt mb-4">
                    <p class="text-black-70 mb-8pt"><strong>Invoice paid</strong> <span>${{ membership_price }}</span>
                    </p>

                </div>
            </div>


            {#             beginning the page nav#}
            {% include 'DashBoard/payment/membership-page-nav.html' %}
            {#             end of page nav #}

        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}