{% extends 'DashBoard/dashboard_base.html' %}
{% load static %}


{% block title %}
Upgrade membership
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">

{% endblock %}


{% block content %}

    <div class="container-fluid page__container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
            <li class="breadcrumb-item active">Pay</li>
        </ol>

        <div class="col-sm-10 col-md-8">
            <p>Selected membership: {{ selected_membership }}</p>
            <p>Price: <strong> ${{ selected_membership.price }}/month</strong></p>


            <div id="collapseStripe" class="wrapper">
                <script src="https://js.stripe.com/v3/"></script>

                <form action="." method="post" id="payment-form" class="form_class">
                    {% csrf_token %}
                    <div class="form-row">
                        <label for="card-element">
                            Credit or debit card
                        </label>
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>

                    <button>Submit Payment</button>
                </form>

                <div id="stripe-token-handler" class="">Success! Got token: <span class="token"></span>
                </div>
            </div>

        </div>


    </div>

{% endblock %}



{% block script %}

    <!-- script for the stripe form -->
    <script src="{% static 'js/checkout.js' %}"></script>


{% endblock %}
