{% extends 'DashBoard/dashboard_base.html' %}
{% load static %}

{% block styles %}

{% endblock %}

{% block title %}
    Subscription
{% endblock %}


{% block content %}

    <div class="container-fluid page__container p-0">
        <div class="row m-0">
            <div class="col-lg container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'users:profile_edit' %}">Edit Account</a></li>
                </ol>

                <h1 class="h2">Subscription</h1>

                <div class="card">
                    <div class="list-group list-group-fit">
                        <div class="list-group-item">
                            <div class="form-group row mb-0">
                                <label class="col-form-label form-label col-sm-3">Your current plan</label>
                                <div class="col-sm-9  align-items-center mb-5 pt-5">

                                    {% if user_membership %}
                                        <strong>Memberships</strong>
                                        {% for item in user_membership.memberships.all %}

                                            <div class="card ">
                                                <div class="card-content p-5">
                                                    <h3>{{ item.membership_type }} with access
                                                        to {{ item.membership_type }} courses</h3>
                                                    <h4>Cancel Subscription <a
                                                            href="{% url 'memberships:cancel_membership' item.slug %}"></a>
                                                    </h4>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        </div>

                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if user_signal_sub %}
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center font-italic text-primary text-decoration-underline">Signal
                            </h3>
                            <h5>Created Date : <small>{{ user_signal_sub.created_date }}</small></h5>
                            <h5>Expiring Date: <small>{{ user_signal_sub.expiring_date }}</small></h5>
                            <a href="{% url 'signal:cancel_signal_subscription' %}">Cancel Signal Subscription </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% include 'DashBoard/payment/membership-page-nav.html' %}

        </div>
    </div>

{% endblock %}