{% extends 'DashBoard/dashboard_base.html' %}
{% load static %}

{% block title %}
    Instructor Dashboard
{% endblock title %}
{% block content %}

    <div class="container-fluid page__container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <h1 class="h2">Dashboard</h1>
        <div class="row">
            <div class="col-lg-7">
                {% comment %} <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="flex">
                            <h4 class="card-title">Earnings</h4>
                            <p class="card-subtitle">Last 7 Days</p>
                        </div>
                        <a href="instructor-earnings.html" class="btn btn-sm btn-primary"><i class="material-icons">trending_up</i></a>
                    </div>
                    <div class="card-body">
                        <div class="chart" style="height: 200px;">
                            <canvas id="earningsChart" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>{% endcomment %}
                <div class="card">
                    <div class="" style="max-height: 550px; overflow-y: scroll;">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title">Most view Course</h4>
                            </div>
                        </div>
                        <div data-toggle="lists" data-lists-sort-desc="true" class="table-responsive">

                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                </thead>
                                <tbody class="list">
                                {% for item in most_viewed %}

                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                <a href="{% url 'courses:detail' item.slug %}"
                                                   class="avatar avatar-4by3 avatar-sm mr-3">
                                                    <img src="{{ item.imageURL }}"
                                                         alt="course" class="avatar-img rounded">
                                                </a>
                                                <div class="media-body">
                                                    <a class="text-body js-lists-values-course text-primary"
                                                       href="{{ item.get_absolute_url }}"><strong>{{ item.title }}</strong></a><br>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <small class="  text-uppercase js-lists-values-date text-primary "><i
                                                    class="fa fa-eye"></i>{{ item.view_count }}</small>
                                        </td>
                                        <td class="text-right">
                                            <small class="text-muted text-uppercase js-lists-values-date">{{ item.timestamp }}</small>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>


            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="flex">
                            <h4 class="card-title">Created course</h4>
                            <p class="card-subtitle">by {{ request.user.profile.first_name }}
                                - {{ request.user.profile.last_name }}</p>
                            <p class="text-info">Note: You can update and delete the course from here </p>
                        </div>

                    </div>
                    <div class=""  style="max-height: 550px; overflow-y: scroll;">
                        <ul class="list-group list-group-fit mb-0">
                            {% for item in course %}
                                <li class="list-group-item">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <div class="d-flex justify-content-between align-content-between">
                                                <a href="{% url 'courses:update_course' item.slug %}"
                                                   class="text-body"><i class="fa fa-pencil-square-o"></i> <strong>

                                                </strong></a>
                                                <a href="{% url 'courses:detail' item.slug %}"
                                                   class="text-body"><strong>
                                                    {{ item.title }}
                                                </strong></a>
                                                <a href="{% url 'courses:delete_course' item.slug %}"
                                                   class="text-body"><strong>
                                                    <i class="fa fa-trash"></i>
                                                </strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block script %}

{% endblock script %}