{% extends 'DashBoard/dashboard_base.html' %}
{% load crispy_forms_filters %}


{% block styles %}

{% endblock %}


{% block title %}

{% endblock %}

{% block content %}
    <div class="container-fluid page__container">
        <div class="row m-0">
            <div class="col-lg container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:home' %}l">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'forum:forum_list' %}">Forum</a></li>
                    <li class="breadcrumb-item active">Delete Question</li>
                </ol>


                <div class="card pb-3">
                    <div class="card-title pt-5 mt-5 p-4">
                        <h1 class="h2">Are you sure you want to delete ? {{ object.title }}</h1>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-evenly">
                            <form action="." method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <a href="{% url 'forum:forum_update'  object.id %}">
                                <button class="btn btn-primary">
                                    Update
                                </button>
                            </a>
                            <a href="{% url 'forum:forum_detail'  object.id %}">
                                <button class="btn btn-info"> View</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}

{% endblock %}