{% extends 'courses/base.html' %}

{% block content %}


    <h1 class="text-capitalize text-center">{{ object.title }}</h1>
    <p class="lead text-capitalize ml-5">{{ object.description }}</p>
    <div class="row">

        {% for item in object.lessons %}
            <div class="col-md-6 p-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">View lesson</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


