{% extends 'courses/base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            {% if object is not None %}
                <div class="">
                    <h1> {{ object.title }} </h1>

                    <p> Go back to <a
                            href="{{ object.course.get_absolute_url }}">
                        course</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">


        <div class="col-md-6 col-sm-10 p-5 mx-auto">
        {{ object }}
            {% if object is not None %}
                <h3>{{ object.title }}</h3>
                <p>{{ object.description }}</p>
                <video controls
                       controlsList="nodownload"
                       src="{{ object.videoURL }}"
                       poster="{{ object.thumbnailURL }}"
                       width="500" height="500">
                    Sorry your browser does not support embedded videos
                </video>
            {% else %}
                <h3> Upgrade membership</h3>
                <p>To view this course you will need to upgrade membership</p>
                <br>
                <a href="{% url 'memberships:membership_select' %}">
                    <button class="btn btn-warning">Check out memberships</button>
                </a>
                <hr>
            {% endif %}
        </div>
    </div>
{% endblock %}



<form class="login" method="POST" action="/accounts/login/" data-nordpass-autofill="login" data-nordpass-watching="1">
  <input type="hidden" name="csrfmiddlewaretoken" value="alY15qL5egbBFRvjGEKxqTW1oyZsxHmRpwVMWCMAw3YWvW8em4ovI0GXWWORIfVe" data-np-checked="1">
  <p><label for="id_login">Username:</label>
      <input type="text" name="login" placeholder="Username" autocomplete="off" maxlength="150" required="" id="id_login" data-nordpass-autofill="username" data-nordpass-uid="t61dlhivon" np-autocomplete="username" data-np-checked="1"><span data-nordpass-uid="t61dlhivon" style="width: 16px; min-width: 16px; height: 16px; background-image: url(&quot;chrome-extension://fooolghllnmhmmndgjiamiiodkpenpbb/icons/icon.svg&quot;); background-repeat: no-repeat; background-position: left center; background-size: auto; border: none; display: inline; visibility: visible; position: absolute; cursor: pointer; z-index: 1001; padding: 0px; transition: none 0s ease 0s; pointer-events: all; left: 225.517px; top: 196.045px;"></span></p>
<p><label for="id_password">Password:</label>
    <input type="password" name="password" placeholder="Password" autocomplete="off" required="" id="id_password" data-nordpass-autofill="password" data-nordpass-uid="63ywlfpbiw" np-autocomplete="current-password" data-np-checked="1"><span data-nordpass-uid="63ywlfpbiw" style="width: 16px; min-width: 16px; height: 16px; background-image: url(&quot;chrome-extension://fooolghllnmhmmndgjiamiiodkpenpbb/icons/icon.svg&quot;); background-repeat: no-repeat; background-position: left center; background-size: auto; border: none; display: inline; visibility: visible; position: absolute; cursor: pointer; z-index: 1001; padding: 0px; transition: none 0s ease 0s; pointer-events: all; left: 221.993px; top: 233.563px;"></span></p>
<p><label for="id_remember">Remember Me:</label> <input type="checkbox" name="remember" id="id_remember" data-np-checked="1"></p>

  <a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a>
  <button class="primaryAction" type="submit">Sign In</button>
</form>